@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

h1{
  font-family: 'Oswald', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.chart {
  z-index: -1;
}

.chartButtons{
  position: relative;
  left: 3%;
  height: 5vh;
}

.chartButtons button{
 float: left;
 margin-right: .5rem;
}

.search{
  position: relative;
  display: inline-block;
  margin: auto;
}

.search form button{
  margin-left: 1rem;
}

.search form input{
  width: 120px;
  height: 1.5rem;
  font-size: 1.2rem;
}

.reccomendations {
  z-index: 10;
  position: absolute;
  width: 128px;
  color: black;
  border-radius: 0px 0px 6px 6px;
  overflow: hidden;
}

.reccomendation {
  border-bottom: 1px solid rgb(58, 58, 58);
  background-color: white;
}

.reccomendation:hover{
  transition: color .25s, background-color .25s;
  color:white;
  background-color: rgb(119, 117, 117);
}
