@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

h1{
  font-family: 'Oswald', sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.chart {
  z-index: -1;
}

.chartButtons{
  position: relative;
  left: 3%;
  height: 5vh;
}

.chartButtons button{
 float: left;
 margin-right: .5rem;
}

.reccomendations {
  z-index: 10;
  position: absolute;
  left: 40%;
  width: 20%;
  color: black;
  border-radius: 4px;
}

.reccomendation {
  border: 1px solid black;
  background-color: white;
}

.reccomendation:hover{
  transition: color .25s, background-color .25s;
  color:white;
  background-color: rgb(119, 117, 117);
}
